*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	max-width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

main{
	min-height: calc(100vh - 30px - 18px);
}

.column-image-class{
	width: 50px;
	height: 50px;
}
/* для FireFox */
.p_style-6 {
	scrollbar-width: thin;
	scrollbar-color: #92E3A9 #0000001D;
}

.p_style-6::-webkit-scrollbar {
	width: 5px;
	height: 4px;
}
.p_style-6::-webkit-scrollbar-track {
	background: #0000001D;
}

.p_style-6::-webkit-scrollbar-thumb {
	background-color: #92E3A9;
}

.p_style-6::-webkit-scrollbar-thumb:hover {
	background-color: #43a05d;
}

.p_style-6::selection {background: rgba(72, 111, 114, 0.35); color:#fff;}
.p_style-6::-moz-selection {background: rgba(72, 111, 114, 192, 0.35); color:#fff;}
.p_style-6::-webkit-selection {background: rgba(72, 111, 114, 192, 0.35); color:#fff;}

.circle-image-user img{
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
  


.circle-image-user-2 img{
	width: 130px;
	height: 130px;
	border-radius: 5px;
	overflow: hidden;
	object-fit: cover;
}

.circle-image-user-3 img{
	width: 70px;
	height: 70px;
	border-radius: 5px;
	overflow: hidden;
	object-fit: cover;
}
  

.main-title-block{
    display: -webkit-flex; 
	display: flex; 
	flex-wrap:wrap;
    width: 100%;
}


a{
	text-decoration: none !important;
	border: none !important;
}


.gallery-img{
	width: 100%;
    height: 605px;
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 700px)
{
	.gallery-img{
		width: 100%;
		height: 305px;
	}
}

.user-pill-1{
	width: 135px; 
	border-radius: 5px; 
	height: 32px; 
	background: #41b662;
}

.user-pill-2{
	width: 165px; 
	border-radius: 5px; 
	height: 32px; 
	background: #d70a0a;
}


.card-im{
	position: relative;
	width: 100%;
	min-height: 455px;
	max-height: 750px;
	background-color: #FFFFFF;
	border: 1px solid #41B662;
	border-radius: 10px;
}

.card-im-title{
	position: absolute;
	width: 100%;
	height: 60px;
	top: -1px;
	left: 0px;
	z-index: 3;
	background-color: #41B662;
	border-radius: 10px 10px 0px 0px;
}

.im-message{
	position: relative;
	width: 100%;
	padding-top: 70px;
	max-height: 350px;
	background-color: #ddfeed;
}

.icon-book{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	top: 15px;
	text-align: center;
	color:#57B92D; 
	width: 46px; 
	height: 46px;
}

.card-im-form-control{
	text-align: center;
	position: relative;
	background: #FFFFFF;
	border: 0;
	border-radius: 5px;
	height: 40px;
}

.btn-green{
	text-align: center;
	background-color: #43a05d;
	border-radius: 5px;
	color:#ffffff; 
}

.btn-read{
	background-color: none;
	border-radius: 5px;
	color:#000000; 
	font-size: 28px;
	text-align: center;
}


.card-im-2{
	position: relative;
	width: 100%;
	min-height: 325px;
	max-height: 420px;
	background-color: #FFFFFF;
	border: 1px solid #41B662;
	border-radius: 10px;
}

.card-im-2-title{
	position: absolute;
	width: 100%;
	height: 60px;
	top: -1px;
	left: 0px;
	z-index: 3;
	background-color: #41B662;
	border-radius: 10px 10px 0px 0px;
}

.im-2-message{
	position: relative;
	width: 100%;
	min-height: 305px;
	max-height: 400px;
	padding-top: 70px;
	max-height: 515px;
	background-color: #ddfeed;
}
